*.[ado]
*~
\#*\#
*.swp
*.pyc
*.dev
*.root
build/
bin/
lib/
!.gitkeep

CMakeLists.txt
fieldmap
/analysis/root

rootfile

/run/conf/*
!/run/conf/param.conf
!/run/conf/Gene1_E70Tgt.conf

/run/macro/*
!/run/macro/dawn.mac
!/run/macro/run.mac
!/run/macro/vrml.mac